
.login_body{
  overflow-x: unset;
}
.login-row{
    min-height: 100dvh;
}
.login_body .row > *{
    padding: 0;
}
.fir-inner{
    width: 100%;
}
main.login{
    position: relative;
    //background: $dark-color;
     //min-height: 100vh;
    // margin: 0px;
    overflow: auto;
    display: flex;
    justify-content: center;
    //align-items: center;
    .inner-div {
        border: 1px solid $black-color;
        display: flex;
        flex-direction: column;
        //align-items: center;
        //justify-content: center;
        padding-top: 14px;
        padding-inline: 76px;
        padding-bottom: 0;
        background-color: $white-color;
        .logo {
            margin-bottom: 100px;
            margin-left: -20px;
            display: flex;
            align-items: center;
            gap: 24px;
            svg{
                // margin-block: auto;
                width: 55px !important;
                height: 62px !important;
            }
            span{
                font-family: var(--main-font-family);
                font-size: 50px;
                font-style: normal;
                font-weight: var(--light-font);
                line-height: normal;
                letter-spacing: 5px;
                color: $dark-color;
            }
        }

        .login {
            color: $black-color;
            margin-bottom: 17px;
            font-family: var(--main-font-family);
            font-size: 45px;
            font-style: normal;
            font-weight: var(--light-font);
            text-align: center;
        }
        p {
            margin-bottom: 30px;
            color: $black-color;
            font-family: var(--main-font-family);
            font-size: 20px;
            font-style: normal;
            font-weight: var(--light-font);
            line-height: normal;
        }
        form{
            width: 100%;
        }
        .login-custum-form-group {
            width: 100%;
                margin-bottom: 60px;
            //background-color: green;
            label {
                margin-bottom: calc(clamp(0rem, -1.1429rem + 1.7857vw, 10px));
                font-family: var(--main-font-family);
                font-size: 18px;
                font-style: normal;
                font-weight: var(--light-font);
                line-height: 1.92;
                color: $black-color;
            }
            input {
                font-family: var(--main-font-family);
                font-size: 18px;
                font-style: normal;
                font-weight: var(--light-font);
                line-height: 1.9;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10px 10px 10px 30px;
                gap: 23px;
                box-shadow: none;
                outline: none;
                border: 1px solid #BFBFBF;
                border-radius: 0;
            }
        }

        .check-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
            .checkbox {
                display: flex;
                gap: 9px;
                align-items: center;
                justify-content: center;
                input {
                    position: relative;
                    appearance: none;
                    //accent-color: $dark-color;
                    width: 24px;
                    height: 24px;
                    border: 2px solid #787878;
                    border-radius: 5px;
                    &:checked{

                    &::before{
                        //font-family: 'Font Awesome 6 Free';
                        content: '\2713';
                        background: #787878;
                        color: $white-color;
                        position: absolute;
                        inset: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //font-weight: 900;
                        //content: '';

                    }
                    }
                }
                label {
                    font-family: var(--main-font-family);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: var(--light-font);
                    line-height: 1.9;
                }
            }
            .forget {
                a {
                    font-family: var(--main-font-family);
                    font-style: normal;
                    font-weight: var(--regular-font);
                    font-size: 18px;
                    line-height: 190.2%;
                    color: $primary-green;
                }
            }
        }
        .btn-login {
            border: none;
            display: block;
            width: 100%;
            padding: 10px;
            font-family: var(--main-font-family);
            font-size: 19px;
            font-style: normal;
            font-weight: var(--light-font);
            line-height: 1.9;
            background: $white-color;
            border-radius: 0;
            border: 1px solid #000;

            color: $dark-color;
            margin-bottom: 16px;
            &:hover{
                background-color: $black-color;
                color: $white-color;
            }
        }
        .create {
            font-family: var(--main-font-family);
            font-style: normal;
            font-weight: var(--regular-font);
            font-size: 18px;
            line-height: 190.2%;
            a {
                font-family: var(--main-font-family);
                font-style: normal;
                font-weight: var(--regular-font);
                font-size: 18px;
                line-height: 190.2%;
                color: $primary-green;
            }
        }
        // }
    }

    .container-fluid {
      .row {
          position: relative;
          //background: $dark-color;
          // height: 100vh;
        //display: flex;
        //align-items: center;
        //justify-content: center;

        .sec-col {
            //height: 100%;
            position: relative;
            img{
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                //object-fit: contain;
                //display: none;
            }
          overflow: hidden;
          margin: 0;
          // padding: 289px 0;
          min-height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          //background: $dark-color;
          position: relative;
          .ell-img {
            position: absolute;
            left: 168px;
          }
          // .sec-inner {
          //   width: 552px;
          //   // height: 446px;
          //   display: flex;
          //   // align-items: center;
          //   justify-content: center;
          //   flex-direction: column;
          //   gap: 30px;
            .ellipse {
              padding: 17px 20px 16px 20px;
              background-color: $white-color;
              width: fit-content;
              border-radius: 50%;
            }
            h1 {
                font-family: var(--main-font-family);
              font-style: normal;
              font-weight: var(--bold-font);
              color: $white-color;
              margin: 35px 0 25px 26px;
              max-width: 525px;
            }
            p {
                font-family: var(--main-font-family);
              font-style: normal;
              font-weight: var(--medium-font);
              margin-left: 88px;
              color: $white-color;
              max-width: 465px;
            }
          // }
        }
      }
    }
}
