@import url("https://fonts.googleapis.com/css2?family=Abel&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::after,
*::before{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: 'Mona-Sans';
    src: url('../../fonts/Mona-sans/Mona-Sans.ttf') format('truetype');
}
@font-face {
    font-family: 'Mona-Sans-ExtraBold';
    src: url('../../fonts/Mona-sans/Mona-Sans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Mona-Sans-Bold';
    src: url('../../fonts/Mona-sans/Mona-Sans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Mona-Sans-SemiBold';
    src: url('../../fonts/Mona-sans/Mona-Sans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Mona-Sans-Regular';
    src: url('../../fonts/Mona-sans/Mona-Sans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Mona-Sans-Light';
    src: url('../../fonts/Mona-sans/Mona-Sans-Light.ttf') format('truetype');
}

@import "mixin";
@import url('https://fonts.cdnfonts.com/css/campton');
$roboto-font: "Roboto", sans-serif;
$inter-font: "Inter", sans-serif;
$poppins-font: "Poppins", sans-serif;
$open-font: "Open Sans", sans-serif;
:root{
    --main-font-family: "Roboto Condensed", sans-serif;
    --extra-thin-font: 100;
    --thin-font: 200;
    --light-font: 300;
    --regular-font: 400;
    --medium-font: 500;
    --semibold-font: 600;
    --bold-font: 700;
    --bolder-font: 800;
    --boldest-font: 900;

}
@import "./header";
@import "./login";
@import "./collection";
@import "./main";
@import "./profile";
@import "./version";
@import "./editor";

.row{
    margin-inline: 0;
}
.container-fluid{
    padding: 0;
}

.previous-btn{
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100px;
  position: fixed;
  top: calc(50% - 50px);
  right: 0;
  background: rgba(255, 255, 255, 0.1);
  //backdrop-filter: opacity(50%);
  z-index: 99999999;
  i{
    font-size: 40px;
    font-weight: 600;
    color: #9c9fa5;
    &:hover{
      color: #0a763f;
    }
  }
  &:hover{
    background: rgba(255, 255, 255, 0.3);

  }
}
.layout-intro{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 6px;
  background: #9c9fa5;
  width: 35%;
  span{
    font-size: 18px;
    font-weight: var(--medium-font);
    color: #fff;
  }



}

.delete-btn:hover{
    background: red !important;
    //color: white;

}


img,
svg {
  max-width: 100%;
}
h1 {
  font-size: 70px !important;
}
h2 {
  font-size: 64px !important;
}
h3 {
  font-size: 50px !important;
}
h4 {
  font-style: normal;
    font-weight: var(--bold-font);
    font-size: 45px;
  line-height: 112.7%;
}
p {
  font-size: 19px;
}
label {
  display: block;
    font-weight: var(--regular-font);
    font-size: 18px;
  line-height: 190.2%;
}
label#checkbox {
  display: inline !important;
}
input#checkbox {
  width: 24px;
}
.body{
  overflow-y: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// body {
//   overflow-x: hidden;
// }
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
  border-radius: 0;


}
::-webkit-scrollbar-thumb{
  background-color: #c4c2bf;
  border-radius: 0;
}

.overlay__link{
  position: absolute !important;
  inset: 0 !important;
  z-index: 1 !important;
}
.bg-navy{
  background-color: $dark-color !important;
}
.bg-green{
  background-color: $primary-green !important;
}

.user-img-border{
  border: 2px solid $dark-color !important;
}

.btn-primary{
  background-color: $primary-green !important;
  border-color: $primary-green !important;
  &.disabled{
    border: 1px solid $primary-green !important;
  }
}
.btn-secondary{
  background-color: $dark-color !important;
  border-color: $dark-color !important;
  &.disabled{
    border: 1px solid $dark-color !important;
  }
}
.list-group-item{
  border: 1px solid #222436 !important;
  &.active{
    background-color: #222436 !important;
    border-color: #222436 !important;
  }
}

.c-btn-primary{
    border: 1px solid #000 !important;
    background-color: #fff !important;
    border-radius: 0;

    color: $dark-color !important;

    &:hover {
        background-color: $dark-color !important;
        color: $white-color !important;
    }
}
.tour-map-container .list-group-item{
    border: 1px solid #000 !important;
    background-color: #fff !important;
    border-radius: 0;

    color: $dark-color !important;

    &:hover {
        background-color: $dark-color !important;
        color: $white-color !important;
    }
}

// .tooltip {
//   position: relative;
//   display: inline-block;
//   border-bottom: 1px dotted black;
// }

// .tooltip .tooltiptext {
//   visibility: hidden;
//   width: 120px;
//   background-color: black;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 0;

//   /* Position the tooltip */
//   position: absolute;
//   z-index: 1;
//   top: 100%;
//   left: 50%;
//   margin-left: -60px;
// }

// .tooltip:hover .tooltiptext {
//   visibility: visible;
// }


main{
  section.view-3d {
    height: calc(100vh - 83px);
    overflow: auto;
  }
}







/* The container must be positioned relative: */
// .custom-select {
//   margin-top: 30px;
//   position: relative;
//font-family: var(--main-font-family);
//   // border-radius: 10px !important;
//   select {
//     display: none; /*hide original SELECT element: */
//   }
//   .select-selected {
//     background-color: $white-color;
//     border-radius: 10px 10px 0px 0px;
//     text-transform: capitalize;
//     color: $dark-color;
//     padding: 8px 16px;
//     border: 1px solid transparent;
//     border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
//     cursor: pointer;
//     &.select-arrow-active{
//       border-radius: 10px 10px 10px 10px;
//       &::before {
//         border-color: transparent transparent #000 transparent;
//       }
//     }
//     &::before {
//       position: absolute;
//       content: "";
//       top: 14px;
//       right: 10px;
//       width: 0;
//       height: 0;
//       border: 6px solid transparent;
//       border-color: #000 transparent transparent transparent;
//     }
//   }
//   .select-items{
//     position: absolute;
//     background-color: $white-color;
//     top: 100%;
//     left: 0;
//     right: 0;
//     z-index: 99;
//     border-radius: 0px 0px 10px 10px;
//     text-transform: capitalize !important;
//     div{

//       color: $dark-color;
//       padding: 8px 16px !important;
//       border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
//       // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
//       &:hover,
//       &.same-as-selected{
//         background-color: rgba(0, 0, 0, 0.1);
//       }
//     }
//     &.select-hide {
//       display: none;
//     }
//   }
// }

