#tracker {
    position: fixed;
    right: 25px;
    top: 97px;
    width: 300px;
    height: 150px;
    background-color: black;
    z-index: 99999;
    padding: 10px;
    opacity: 0.6;
    color: white;
    font-family: sans-serif;
}

.main__header.universal .right .navbar__nav .nav__link.selected {
    background-color: #f4f4f4;
    color: rgba(0, 0, 0, 0.75);
}
