#tracker {
    position: fixed;
    right: 25px;
    top: 97px;
    width: 300px;
    height: 150px;
    background-color: black;
    z-index: 99999;
    padding: 10px;
    opacity: 0.6;
    color: white;
    font-family: sans-serif;
}

.main__header.universal .right .navbar__nav .nav__link.selected {
    background-color: #f4f4f4;
    color: rgba(0, 0, 0, 0.75);
}


.pin {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 600;
    cursor: pointer;
    background-image: url("/images/location_pin.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tour-map-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1500px
}

.tour-map {
    position: relative;
    width: 1300px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

#crop_btn {
    z-index: 3000;
    position: fixed;
    left: 500px;
    top: 100px;
    width: 50px;
    height: 50px;
}

.dashboard.gallery .inner__field .card .bg__image {
    object-fit: fill;
}

.main__header.universal .right .navbar__nav .nav__link{
    background-color: white;
}

.hide{
    display: none;
}
