#tracker {
    position: fixed;
    right: 25px;
    top: 97px;
    width: 300px;
    height: 150px;
    background-color: black;
    z-index: 99999;
    padding: 10px;
    opacity: 0.6;
    color: white;
    font-family: sans-serif;
}

.main__header.universal .right .navbar__nav .nav__link.selected {
    background-color: #f4f4f4;
    color: rgba(0, 0, 0, 0.75);
}


.pin {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 600;
    cursor: pointer;
    background-image: url("/images/location_pin.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.tour-map-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1500px
}

.tour-map {
    position: relative;
    width: 1300px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

#crop_btn {
    z-index: 3000;
    position: fixed;
    left: 500px;
    top: 100px;
    width: 50px;
    height: 50px;
}

.dashboard.gallery .inner__field .card .bg__image {
    object-fit: fill;
    position: unset;
}

.main__header.universal .right .navbar__nav .nav__link {
    background-color: white;
}

.hide {
    display: none;
}


.loader {
    z-index: 9999;
    padding: 5px 16px;
    background: green;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 50%;
    width: auto !important;
}

.error {
    display: block;
    color: #B00020;
    font-size: 1rem !important;
}

.font-system-ui {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.editor-container {
    margin-left: 27rem !important;
    margin-right: 21rem !important;
}

.editor-container .image__viewer {
    height: 95% !important;
}

.w-40{
    width: 40%!important;
}

.w-10{
    width: 10%!important;
}

.wep-slide-over {
    z-index: 39 !important;
}

.modellist {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}
/*td.layout-table-title:hover a{*/
/*    display: inline-block;*/
/*}*/

