@media screen and (min-width: 768px) {
  .main__header {
    display: block;
    align-items: unset;
  }
}
@media screen and (min-width: 992px) {
  .main__header .brand {
    max-width: 4rem;
    max-height: 4rem;
  }
  .main__header .brand .logo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .main__header .search__box {
    min-width: 450px;
  }
  .main__header .search__box .input-group-text,
.main__header .search__box .form-control {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
  }
  .main__header .nav__link {
    padding: 0.25rem 0.625rem;
  }
  .main__header .profile__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .universal__wrapper .sidebar {
    background-color: rgba(47, 181, 0, 0.1);
    height: 100%;
    width: 160px;
  }
  .universal__wrapper .sidebar.mini .nav__item.active {
    width: 100%;
  }
  .universal__wrapper .sidebar.mini .nav__item .nav__link {
    flex-direction: column;
  }
}
@media all and (max-width: 991px) {
  .sidebar {
    max-width: 160px !important;
    width: 100% !important;
  }

  .universal__wrapper .sidebar .navbar__nav.mini {
    align-items: flex-start;
  }
}
@media screen and (min-width: 992px) {
  .universal__wrapper .dashboard .inner__table .footer__pagination.mini {
    left: 6rem;
  }
}
