main {
    section.editor {
        .editor-view {
            .tabs-container{
                height: 45px;
                align-items: center;
                padding: 10px;
                .white-bg-button{
                    border: none !important;
                    border-radius: 8px !important;
                }
                .list-icon-action{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .view-360{
                        position: relative;
                        inset: unset;
                    }
                }

            }

            .row {


                .side-col {

                    .top-div {


                        .input-group {


                            .input-group-text {


                                i {

                                }
                            }

                            input {


                                &::placeholder {

                                }

                                &:focus {

                                }
                            }
                        }

                        .all-btn {


                            &:focus {

                            }

                            option {

                            }
                        }


                        // }
                        .text {
                            // padding-top: 10px;
                            h6 {


                            }
                        }

                        .outside {
                            .line {
                            }
                            .editor-comment-btn {

                            }
                        }
                        .change-icon-layout{
                            width: 20%;
                        }
                    }

                    .card-div {


                        .card-row {
                            padding: 15px;
                            background: #F7F9FB;

                            .card {
                                border: 2px solid #fff;
                                background-color: #fff;
                                border-radius: 8px;
                                padding: 12px;
                                margin-inline: 0;

                                &:hover, &.active {
                                    border: 2px solid #008577;
                                }

                                .card-img {
                                    max-height: 73px;
                                    overflow: hidden;
                                    img {
                                        max-height: 73px;
                                        width: 100%;
                                        min-height: unset;
                                    }
                                }

                                .card-body {

                                    .heading {

                                    }

                                    .paragraph,
                                    .dimensions {

                                    }
                                }
                            }
                            .fix-height{
                                .card{
                                    .card-img {
                                        padding: 0;
                                        max-height: none;
                                        height: auto;
                                        img {
                                            //width: 100%;
                                            min-height: unset;
                                            object-fit: contain;
                                            object-position: top center;
                                        }
                                    }
                                    .col-md-4,.col-md-8{
                                        width: auto !important;
                                    }
                                }

                            }
                        }
                    }


                    .pagination-div {


                        ul {

                        }
                    }

                    // comment view sidebar style
                    .comment-div {



                        .comments {


                            .comment {

                                img {

                                }

                                .text {
                                    h6 {

                                    }

                                    p {

                                    }
                                }
                            }
                        }
                    }

                    .send-comment {

                        input {


                            &:focus {

                            }
                        }

                        button {

                        }
                    }
                }

                .main-col {


                    img {

                    }

                    .editor-actions {


                        .action {


                            &:hover {
                                &::before {

                                }

                                &::after {

                                }

                            }

                            i {

                            }
                        }
                    }
                }
            }
        }
    }
}
