// fonts
$primaryFontFamily: "Roboto", Arial, Helvetica, sans-serif;
//$secondaryFontFamily: "Campton", Arial, Helvetica, sans-serif;
$secondaryFontFamily: ""Roboto", Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif";

// colors
$black: #000000;
$dark: #2f2f2f;
$gray: #454545;
$lightGray: #a4a4a4;
$lighterGray: #b5b5b5;
$lightestGray: #f4f4f4;
$white: #ffffff;
$blue: #1f7fd6;
$deepPurple: #3d358b;
$green: #2fb500;
$creamGreen: #41c772;
$lightBrown: #b59800;
$fontsDir: "/fonts" !default;
