<krpano>

<!-- Guideline -->
    <layer name="zoom_in"
           type="image"
           url="/krpano/img/buttons/zoomout.png"
           keep="true"
           parent=""
           visible="true"
           enabled="true"
           handcursor="true"
           zorder="10"
           align="bottomright"
           edge="topleft"
           height="50"
           width="prop"
           x="150"
           y="70"
           ondown="set(fov_moveforce,+1);"
           onup="set(fov_moveforce,0);"
           alpha="1.0"
    />

    <layer name="zoom_out"
           type="action"
           url="/krpano/img/buttons/zoomin.png"
           keep="true"
           parent=""
           visible="true"
           enabled="true"
           handcursor="true"
           zorder="10"
           align="bottomright"
           edge="topleft"
           height="25"
           width="prop"
           x="100"
           y="58"
           ondown="set(fov_moveforce,-1);"
           onup="set(fov_moveforce,0);"
           alpha="1.0"
    />

</krpano>
