<krpano>

<!-- Guideline -->
    <!-- Desktop zoom controls -->
    <layer name="zoom_in"
           type="image"
           url="/krpano/img/buttons/zoomout.png"
           keep="true"
           parent=""
           visible="true"
           enabled="true"
           handcursor="true"
           zorder="10"
           align="bottomright"
           edge="topleft"
           height="50"
           width="prop"
           x="150"
           y="70"
           devices="desktop"
           ondown="set(fov_moveforce,+1);"
           onup="set(fov_moveforce,0);"
           alpha="1.0"
    />

    <layer name="zoom_out"
           type="action"
           url="/krpano/img/buttons/zoomin.png"
           keep="true"
           parent=""
           visible="true"
           enabled="true"
           handcursor="true"
           zorder="10"
           align="bottomright"
           edge="topleft"
           height="25"
           width="prop"
           x="100"
           y="58"
           devices="desktop"
           ondown="set(fov_moveforce,-1);"
           onup="set(fov_moveforce,0);"
           alpha="1.0"
    />
    
    <!-- Mobile zoom controls - positioned above map button (at bottom: 80px and 130px from bottom) -->
    <layer name="zoom_in_mobile"
           type="image"
           url="/krpano/img/buttons/zoomout.png"
           keep="true"
           visible="true"
           enabled="true"
           handcursor="true"
           zorder="10"
           align="bottomright"
           edge="topleft"
           height="50"
           width="prop"
           x="100"
           y="50"
           devices="mobile"
           ondown="set(fov_moveforce,+1);"
           onup="set(fov_moveforce,0);"
           alpha="1.0"
    />

    <layer name="zoom_out_mobile"
           type="action"
           url="/krpano/img/buttons/zoomin.png"
           keep="true"
           visible="true"
           enabled="true"
           handcursor="true"
           zorder="10"
           align="bottomright"
           edge="topleft"
           height="25"
           width="prop"
           x="50"
           y="38"
           devices="mobile"
           ondown="set(fov_moveforce,-1);"
           onup="set(fov_moveforce,0);"
           alpha="1.0"
    />

</krpano>
